<?xml version="1.0" encoding="utf-8" ?>
<nlog throwexceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
  <variable name="serviceName" value="BlogExampleStatic" />
  <variable name="logDirectory" value="C:/logs/${serviceName}/" />
  <targets>
    <target name="file" type="File" fileName="${logDirectory}/${shortdate}.log" encoding="utf-8" layout="${date:universalTime=True:format=yyyy-MM-dd HH\:mm\:ss.ffff} ${uppercase:${pad:${level}:padding=-5}} ${logger} ${message}${onexception:${newline}${exception:format=ToString}}" />
    <target name="console" type="ColoredConsole" layout="${longdate} ${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file, console" />
  </rules>
</nlog>