<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/font-awesome.min.css"/>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Posts</a></li>
                    <li><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                    <li><a asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>2016 - WebApplication1</p>
        </footer>
    </div>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
